@model IEnumerable<MessageLogWebApplication.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Messages</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="CreateRandom">Create Random</a> (At least one server should exist)
</p>

<form asp-controller="Message" asp-action="Index" method="get">
    <button class="collapsible" type="button">Search options</button>
    <div class="content">
        <b>
            Text:<input type="text" name="SearchString"><br /><br />
            Date (from):<input type="datetime-local" name="SearchDate"><br /><br />
            Min Priority:<input type="number" name="MinPriority"><br /><br />
            Max Priority:<input type="number" name="MaxPriority"><br /><br />
            Type:<select name="SearchType">
                <option value=""></option>
                <option value="debug">debug</option>
                <option value="info">info</option>
                <option value="warning">warning</option>
                <option value="error">error</option>
                <option value="fatal">fatal</option>
            </select>
        </b>
    </div>

    <button class="collapsible" type="button">Sort options</button>
    <div class="content">
        <b>
            1234
        </b>
    </div>
    <br /><br />
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
