@model IEnumerable<MessageLogWebApplication.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Messages</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="CreateRandom">Create Random</a> (At least one server should exist)
</p>

<form asp-controller="Message" asp-action="Index" method="get" name="mainForm">
    <button class="collapsible" type="button">Search options</button>
    <div class="content">
        <br />
        <b>
            Text: <input type="text" name="SearchString"><br /><br />
            Date (from): <input type="datetime-local" name="SearchDate"><br /><br />
            Min Priority: <input type="number" name="MinPriority"><br /><br />
            Max Priority: <input type="number" name="MaxPriority"><br /><br />
            Type: <select name="SearchType" asp-items="ViewBag.Types"></select>
        </b>
    </div>
    <br />
    <button class="collapsible" type="button">Sort options</button>
    <div class="content">
        <br />
        <b>
            <input type="radio" id="RSChoise" name="SortType" value="RS">
            <label for="RSChoise">Radix sort by priority</label>
            <br />
            <input type="radio" id="CSChoise" name="SortType" value="CS">
            <label for="CSChoise">Counting sort by type</label>
            <br />
            <input type="radio" id="MSChoise" name="SortType" value="MS">
            <label for="MSChoise">Merge sort</label>
        </b>
        by:&nbsp;<select name="QSMode" id="qsModeSelect" disabled>
            <option value="ServerId">server id</option>
            <option value="Text">text</option>
            <option value="ProcessingDate">processing date</option>
            <option value="Type">type</option>
            <option value="Priority">priority</option>
            <option value="LoadLevel">load level</option>
        </select>
        <br />
        <br />
        <b>
            <input type="radio" id="LSChoise" name="SortType" value="LS">
        </b>
        <label for="LSChoise">Linq sort</label><br />
        <table border="0">
            <tr>
                <td>Property:</td>
                <td><select name="LSProp1" asp-items="ViewBag.Properties" id="Prop1Select" disabled></select></td>
                <td><select name="LSProp2" asp-items="ViewBag.Properties" id="Prop2Select" disabled></select></td>
                <td><select name="LSProp3" asp-items="ViewBag.Properties" id="Prop3Select" disabled></select></td>
                <td><select name="LSProp4" asp-items="ViewBag.Properties" id="Prop4Select" disabled></select></td>
                <td><select name="LSProp5" asp-items="ViewBag.Properties" id="Prop5Select" disabled></select></td>
                <td><select name="LSProp6" asp-items="ViewBag.Properties" id="Prop6Select" disabled></select></td>
            </tr>
            <tr>
                <td>Order:</td>
                <td>
                    <input type="radio" id="LSAscChoise1" name="LSOrd1" value="ASC" checked>
                    <label for="LSascChoise1">ASC</label>
                </td>
                <td>
                    <input type="radio" id="LSAscChoise2" name="LSOrd2" value="ASC" checked>
                    <label for="LSascChoise2">ASC</label>
                </td>
                <td>
                    <input type="radio" id="LSAscChoise3" name="LSOrd3" value="ASC" checked>
                    <label for="LSascChoise3">ASC</label>
                </td>
                <td>
                    <input type="radio" id="LSAscChoise4" name="LSOrd4" value="ASC" checked>
                    <label for="LSascChoise4">ASC</label>
                </td>
                <td>
                    <input type="radio" id="LSAscChoise5" name="LSOrd5" value="ASC" checked>
                    <label for="LSascChoise5">ASC</label>
                </td>
                <td>
                    <input type="radio" id="LSAscChoise6" name="LSOrd6" value="ASC" checked>
                    <label for="LSascChoise6">ASC</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="radio" id="LSDescChoise1" name="LSOrd1" value="DESC">
                    <label for="LSDescChoise1">DESC</label>
                </td>
                <td>
                    <input type="radio" id="LSDescChoise2" name="LSOrd2" value="DESC">
                    <label for="LSDescChoise2">DESC</label>
                </td>
                <td>
                    <input type="radio" id="LSDescChoise3" name="LSOrd3" value="DESC">
                    <label for="LSDescChoise3">DESC</label>
                </td>
                <td>
                    <input type="radio" id="LSDescChoise4" name="LSOrd4" value="DESC">
                    <label for="LSDescChoise4">DESC</label>
                </td>
                <td>
                    <input type="radio" id="LSDescChoise5" name="LSOrd5" value="DESC">
                    <label for="LSDescChoise5">DESC</label>
                </td>
                <td>
                    <input type="radio" id="LSDescChoise6" name="LSOrd6" value="DESC">
                    <label for="LSDescChoise6">DESC</label>
                </td>

            </tr>
        </table>

    </div>
    <br /><br />
    <input type="submit" value="Search and sort" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

    var rad = document.mainForm.SortType;
    for (var i = 0; i < rad.length; i++) {
        rad[i].addEventListener('change', function () {
            if (document.getElementById("MSChoise").checked) document.getElementById("qsModeSelect").disabled = false
            else document.getElementById("qsModeSelect").disabled = true;

            if (document.getElementById("LSChoise").checked) document.getElementById("Prop1Select").disabled = false
            else document.getElementById("Prop1Select").disabled = true;
        });
    }

    function SelectReset(e) {
        e.selectedIndex = 0;
        e.disabled = true;
    }

    var select1 = document.mainForm.LSProp1;
    var select2 = document.mainForm.LSProp2;
    var select3 = document.mainForm.LSProp3;
    var select4 = document.mainForm.LSProp4;
    var select5 = document.mainForm.LSProp5;
    var select6 = document.mainForm.LSProp6;

    select1.addEventListener('change', function () {
        if (select1.options[select1.selectedIndex].value == select1.options[0].value) {
            SelectReset(select2);
            SelectReset(select3);
            SelectReset(select4);
            SelectReset(select5);
            SelectReset(select6);
        }
        else select2.disabled = false;
    });

    select2.addEventListener('change', function () {
        if (select2.options[select2.selectedIndex].value == select2.options[0].value) {
            SelectReset(select3);
            SelectReset(select4);
            SelectReset(select5);
            SelectReset(select6);
        }
        else select3.disabled = false;
    });

    select3.addEventListener('change', function () {
        if (select3.options[select3.selectedIndex].value == select3.options[0].value) {
            SelectReset(select4);
            SelectReset(select5);
            SelectReset(select6);
        }
        else select4.disabled = false;
    });

    select4.addEventListener('change', function () {
        if (select4.options[select4.selectedIndex].value == select4.options[0].value) {
            SelectReset(select5);
            SelectReset(select6);
        }
        else select5.disabled = false;
    });

    select5.addEventListener('change', function () {
        if (select5.options[select5.selectedIndex].value == select5.options[0].value) {
            SelectReset(select6);
        }
        else select6.disabled = false;
    });

</script>
