@model IEnumerable<MessageLogWebApplication.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Messages</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="CreateRandom">Create Random</a> (At least one server should exist)
</p>

<form asp-controller="Message" asp-action="Index" method="get" name="mainForm">
    <button class="collapsible" type="button">Search options</button>
    <div class="content">
        <br />
        <b>
            Text: <input type="text" name="SearchString"><br /><br />
            Date (from): <input type="datetime-local" name="SearchDate"><br /><br />
            Min Priority: <input type="number" name="MinPriority"><br /><br />
            Max Priority: <input type="number" name="MaxPriority"><br /><br />
            Type: <select name="SearchType" asp-items="ViewBag.Types"></select>
        </b>
    </div>
    <br />
    <button class="collapsible" type="button">Sort options</button>
    <div class="content">
        <br />
        <b>
            <input type="radio" id="RSChoise" name="SortType" value="RS">
            <label for="RSChoise">Radix sort by </label>
            <br />
            <input type="radio" id="CSChoise" name="SortType" value="CS">
            <label for="CSChoise">Counting sort by type</label>
            <br />
            <input type="radio" id="MSChoise" name="SortType" value="MS">
            <label for="MSChoise">Merge sort</label>
            by:&nbsp;<select name="QSMode" id="qsModeSelect" disabled>
                <option value="serverId">server id</option>
                <option value="text">text</option>
                <option value="processingDate">processing date</option>
                <option value="type">type</option>
                <option value="priority">priority</option>
                <option value="loadLevel">load level</option>
            </select>
        </b>
    </div>
    <br /><br />
    <input type="submit" value="Search and sort" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

    var rad = document.mainForm.SortType;
    for (var i = 0; i < rad.length; i++) {
        rad[i].addEventListener('change', function () {
            if (document.getElementById("MSChoise").checked) document.getElementById("qsModeSelect").disabled = false
            else document.getElementById("qsModeSelect").disabled = true;
        });
    }

</script>
